.van-detail-container {
    padding: 1rem;
}

.van-detail img {
    max-width: 100%;
    border-radius: 5px;
}

.van-detail .van-type {
    color: #FFEAD0;
    padding: 4px 13px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 31px;
    border-radius: 5px;
    margin-top: 2rem;
    display: inline-block;
}

.van-detail .van-type.simple {
    background-color: #E17654;
}

.van-detail .van-type.rugged {
    background-color: #115E59;
}

.van-detail .van-type.luxury {
    background-color: #161616;
}

.van-detail h2 {
    font-size: 32px;
    margin-bottom: 0;
}

.van-detail .van-price {
    font-size: 20px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 24px;
}

.van-detail .van-description {
    line-height: 23px;
    margin-bottom: 1.2rem;
}

.van-detail .link-button {
    color: white;
    background-color: #FF8C38;
    margin-bottom: 1rem;
    min-width: 100%;
    font-size: 18px;
}


@media  screen and (min-width: 700px) {

    .van-detail-container {
        display: flex;
        justify-content: center;
    }

    .van-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin-bottom: 1rem;
    }

    .van-detail img {
        width: 50%;
        max-width: 510px;
        min-height: 500px;
        object-fit: cover;
    }

    .van-detail-info {
        width: 50%;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .van-detail .van-type {
        max-width: max-content;
    }
}