.van-list-container {
    padding-inline: 2rem;
}

.van-loading, .van-error {
    text-align: center;
    margin-top: 3rem;
}

.van-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-block: 2rem;
}

.van-card {
    margin-bottom: 1rem;
}

.link-reset {
    text-decoration: none;
    color: inherit;
}

.van-card .van-type {
    font-style: normal;
    font-weight: 600;
    border-radius: 5px;
    color: #FFEAD0;
    padding: 10px 20px;
}

.van-card .van-type.simple {
    background-color: #E17654;
}

.van-card .van-type.rugged {
    background-color: #115E59;
}

.van-card .van-type.luxury {
    background-color: #161616;
}


.van-card img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.van-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.van-info h3 {
    font-size: 20px;
    line-height: 31px;
    font-weight: 600;
}

.van-info p {
    text-align: right;
}



@media screen and (min-width: 550px) {

    .van-list {
        grid-template-columns: repeat(2, 1fr);
    }

}



@media screen and (min-width: 650px) {

    .van-info h3 {
        font-size: 25px;
        line-height: 36px;
    }

    .van-info p {
        font-size: 18px;
    }

    .van-card .van-type {
        font-size: 18px;
    }

}


@media screen and (min-width: 950px) {

    .van-list-container {
        max-width: 1300px;
        margin: 0 auto;
    }

    .van-list {
        grid-template-columns: repeat(3, 1fr);
    }

}