.van-list-container {
    padding-inline: 2rem;
}

.van-list-filter-buttons {
    display: flex;
    gap: 1rem;
    margin-block: 2rem;
}

.van-list-filter-buttons .van-type {
    background-color: #FFEAD0;
    color: #4D4D4D;
    padding: 7px 26px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 0.31rem;
    border: 1px solid black;
}

.van-list-filter-buttons .van-type.clear-filters {
    background-color: inherit;
    text-decoration: underline;
}

.van-list-filter-buttons .van-type.clear-filters > svg {
    font-size: 15px;
    margin-top: 2px;
}


.van-list-filter-buttons .van-type.simple:hover {
    background-color: #E17654;
    color: #FFEAD0;
}

.van-list-filter-buttons .van-type.simple.selected {
    background-color: #E17654;
    color: #FFEAD0;
}


.van-list-filter-buttons .van-type.rugged:hover {
    background-color: #115E59;
    color: #FFEAD0;
}

.van-list-filter-buttons .van-type.rugged.selected {
    background-color: #115E59;
    color: #FFEAD0;
}


.van-list-filter-buttons .van-type.luxury:hover {
    background-color: #161616;
    color: #FFEAD0;
}

.van-list-filter-buttons .van-type.luxury.selected {
    background-color: #161616;
    color: #FFEAD0;
}



.van-loading,
.van-error {
    text-align: center;
    margin-top: 3rem;
}

.van-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-block: 2rem;
}

.van-card {
    margin-bottom: 1rem;
    max-width: 390px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.van-card .image-container {
    max-height: 390px;
}

.link-reset {
    text-decoration: none;
    color: inherit;
}

.van-card .van-type {
    font-style: normal;
    font-weight: 600;
    border-radius: 5px;
    color: #FFEAD0;
    padding: 10px 20px;
}

.van-card .van-type.simple {
    background-color: #E17654;
}

.van-card .van-type.rugged {
    background-color: #115E59;
}

.van-card .van-type.luxury {
    background-color: #161616;
}


.van-card img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.van-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.van-info h3 {
    font-size: 20px;
    line-height: 31px;
    font-weight: 600;
}

.van-info p {
    text-align: right;
}



@media screen and (min-width: 550px) {

    .van-list {
        grid-template-columns: repeat(2, 1fr);
    }

}



@media screen and (min-width: 650px) {

    .van-info h3 {
        font-size: 25px;
        line-height: 36px;
    }

    .van-info p {
        font-size: 18px;
    }

    .van-card .van-type {
        font-size: 18px;
    }

}


@media screen and (min-width: 950px) {

    .van-list-container {
        max-width: 1300px;
        margin: 0 auto;
    }

    .van-list {
        grid-template-columns: repeat(3, 1fr);
    }

}


@media (max-width: 500px) {

    .van-list-title {
        font-size: 1.7rem;
    }

    .van-list-filter-buttons .van-type {
        padding: 6px;
    }

    .van-list-filter-buttons .van-type.clear-filters {
        padding: 2px 5px;
    }
}