/* Header section */
header {
    display: flex;
    align-items: center;
    padding: 1rem 1.1rem;
    position: relative;
}

header .site-logo {
    color: black;
    font-weight: 900;
    font-size: 1.5625rem;
    margin-right: auto;
    text-transform: uppercase;
}

.menu-btn {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
}

header nav {
    display: flex;
    gap: 10px;
    margin-right: 0.2rem;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
    padding: 0.3125rem;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

header a.activeLink {
    font-weight: 'bold';
    color: #161616;
    text-decoration: underline;
}

.login-icon {
    font-size: 1.5rem;
    margin-top: 0.4rem;
}

header button {
    border: none;
    background-color: #FFF7ED;
}

.logout-icon {
    font-size: 1.5rem;
}


/* for small screen  */
@media (max-width: 500px) {
    .menu-btn {
        display: block;
    }

    header nav {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #FFF7ED;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        display: none;
        z-index: 1000;
    }

    nav.active {
        display: flex;
    }
}


/* responsive */
@media screen and (min-width: 497px) {

    header .site-logo {
        font-size: 2.4rem;
    }

    header a {
        font-size: 1.1rem;
    }

}