nav.host-nav {
    padding: 1rem;
    display: flex;
    gap: 1.5rem;

    overflow-x: auto;
    white-space: nowrap;
}

nav.host-nav > a {
    text-decoration: none;
    font-size: 18px;
    color: #4D4D4D;
    line-height: 22px;
}

nav.host-nav > a:hover {
    color: #161616;
    font-weight: 700;
    text-decoration: underline;
}