/* HOME PAGE  */
.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./src/assets/images/home-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* min-height: 320px; */
    color: white;
    padding: 2.81rem 1.43rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 86vh;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.625rem;
}

.home-container p {
    line-height: 1.5rem;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    width: 100%;
    margin-top: 27px;
    padding-block: 0.75rem;
    color: white;
    font-weight: 700;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
    transform: scale(0.98);
}





/* responsive */
@media screen and (min-width: 497px) {

    .home-container {
        align-items: flex-start;
        justify-content: center;
        text-align: start;
        min-height: 86vh;
    }

    .home-container h1 {
        font-size: 3.25rem;
        line-height: 3.625rem;
        max-width: 700px;
    }

    .home-container p {
        font-size: 1.4rem;
        line-height: 2rem;
        max-width: 700px;
    }

    .home-container a {
        font-size: 1.4rem;
        max-width: 400px;
    }

}