.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
    max-width: 45rem;
    width: 100%;
}

.signup-form>h1 {
    text-align: center;
    font-size: 1.8rem;
}

.signup-form .MuiOutlinedInput-root fieldset {
  border-color: #ccc;
}

.signup-form .MuiOutlinedInput-root:hover fieldset {
  border-color: #000000;
}

.signup-form .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #FF8C38;
}

.signup-form .MuiInputLabel-root {
  color: #6e411c;
}

.signup-form .MuiInputLabel-root.Mui-focused {
  color: #000000;
}


.signup-form .signup-button {
    color: white;
    background-color: #FF8C38;
    max-width: 45rem;
    width: 100%;
    font-weight: 700;
    border-radius: 6px;
    padding: 13px 17px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.signup-form .signup-button:hover {
    background-color: #cb6f2d;
}
