section {
    padding: 1rem;
}

div.host-vans-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.host-vans-title-container>a {
    margin-top: 0.4rem;
    color: #8b6048;
}

div.host-vans-list-container {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

.host-van-card {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: #fff;
    padding: 1rem 1.7rem;
    border-radius: 0.75rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02), 0 8px 24px rgba(16, 24, 40, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.host-van-card>img {
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 0.4rem;
    height: 100%;
    width: 100%;
}

.host-van-info>h3 {
    margin-bottom: 0;
    font-size: 1.25rem;
}

.host-van-info>p {
    color: #4D4D4D;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: none;
}


@media screen and (min-width: 750px) {

    div.host-vans-title-container>a::before {
        content: 'Add new Van';
        margin-right: 0.5rem;
    }

    div.host-vans-title-container>a {
        display: flex;
        align-items: center;
        padding: 0.6rem;
        background-color: #f8e4cb;
        border-radius: 0.5rem;
        text-decoration: none;
        box-shadow: -1px -1px 32px -2px rgba(110, 111, 70, 0.1);
        border: 1px solid black;
    }

    div.host-vans-list-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 325px));
    }

    .host-van-card {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-width: 20rem;
        height: 100%;
        max-height: 408px;
    }

    .host-van-card>img {
        min-width: 100%;
        max-height: 263px;
        height: 100%;
        object-fit: cover;
    }
}