.host-van-details-container {
    padding: 2rem;
    max-width: max-content
}

.back-button {
    text-decoration: none;
    margin-bottom: 2rem;
    display: inline-block;
    color: #858585;
}

.back-button>span {
    margin-left: 0.5rem;
    color: #201F1D;
}

.back-button>span:hover {
    text-decoration: underline;
}

.host-van-details-wrapper {
    background-color: white;
    padding: 1.56rem;
    border-radius: 6px;
    min-width: 500px;
    width: 100%;
}

.host-van-detail {
    display: flex;
}

.host-van-detail>img {
    max-width: 10rem;
    object-fit: contain;
}

.host-van-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.host-van-detail-info>span {
    color: #FFEAD0;
    max-width: fit-content;
    padding: 0.5rem 1.1rem;
    border-radius: 0.4rem;
    text-transform: capitalize;
}

.host-van-detail-info>span.simple {
    background-color: #E17654;
}

.host-van-detail-info>span.rugged {
    background-color: #115E59;
}

.host-van-detail-info>span.luxury {
    background-color: #161616;
}



.host-van-detail-info>h2 {
    margin-bottom: 0;
    font-size: 24px;
}

.host-van-detail-info>p {
    font-weight: 700;
    font-size: 19px;
    margin-top: 0.6rem;
}

.host-van-detail-info>p>span {
    font-weight: 500;
    font-size: 16px;
}


.host-van-detail-nav {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.host-van-detail-nav>a {
    text-decoration: none;
    color: #4D4D4D;
    font-size: 16px;
}

.host-van-detail-nav>a:hover {
    text-decoration: underline;
    color: #161616;
    font-weight: bold;
}


.host-van-detail-nav>a.active {
    text-decoration: underline;
    color: '#161616';
    font-weight: bold;
}