.about-page-container {
    overflow-x: hidden;
}

.about-hero-img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.about-page-content {
    padding: 2rem 1.5rem;
    color: #161616;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    border-radius: 5px;
    margin: 0.5rem 2rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
    text-align: center;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
    color: #161616;
    background-color: white;
}


@media screen and (min-width: 650px) {

    .about-page-top {
        display: flex;
        gap: 1rem;
    }

    .about-hero-img {
        width: 60%;
        flex-shrink: 0;
        height: auto;
        object-fit: cover;
    }

    .about-page-content {
        width: 40%;
        flex-shrink: 0;
    }

    .about-page-content h1 {
        font-size: 2.4rem;
        line-height: 45px;
    }

    .about-page-content p {
        font-size: 1.4rem;
        line-height: 36px;
    }

    .about-page-cta {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin: 0;
        border-radius: 0;
        width: 100%;
        margin-top: auto;
    }

    .about-page-cta h2 {
        font-size: 1.8rem;
    }

    .about-page-cta .link-button {
        font-size: 1.3rem;
    }
}